workflows/tsc-competency-finder.json
{
  "name": "TSC Competency Finder & Learning Outcome Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "TSC Competency Finder",
        "formDescription": "Enter your course topic and sector to find matching SkillsFuture Technical Skills & Competencies (TSCs), their Knowledge and Ability statements, and generate aligned learning outcomes.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Sector",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Infocomm Technology"
                  },
                  {
                    "option": "Accountancy"
                  },
                  {
                    "option": "Aerospace"
                  },
                  {
                    "option": "Built Environment"
                  },
                  {
                    "option": "Design"
                  },
                  {
                    "option": "Early Childhood"
                  },
                  {
                    "option": "Financial Services"
                  },
                  {
                    "option": "Food Services"
                  },
                  {
                    "option": "Healthcare"
                  },
                  {
                    "option": "Hotel and Accommodation Services"
                  },
                  {
                    "option": "Human Resource"
                  },
                  {
                    "option": "Logistics"
                  },
                  {
                    "option": "Media"
                  },
                  {
                    "option": "Retail"
                  },
                  {
                    "option": "Social Service"
                  },
                  {
                    "option": "Tourism"
                  },
                  {
                    "option": "Training and Adult Education"
                  },
                  {
                    "option": "Workplace Safety and Health"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Course Topic",
              "placeholder": "e.g., Building AI Agents for Business Automation, Cloud Security Fundamentals, Data Visualisation with Python",
              "requiredField": true
            },
            {
              "fieldLabel": "WSQ Level",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Level 2 - Higher Certificate"
                  },
                  {
                    "option": "Level 3 - Advanced Certificate"
                  },
                  {
                    "option": "Level 4 - Diploma"
                  },
                  {
                    "option": "Level 5 - Specialist Diploma"
                  },
                  {
                    "option": "Level 6 - Graduate Diploma"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Additional Context",
              "fieldType": "textarea",
              "placeholder": "Any additional details about the course scope, target job roles, or specific skills you want to cover."
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "path": "tsc-competency-finder"
        }
      },
      "id": "form-trigger",
      "name": "Course Input Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -208,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/pdfinn/ial-ai-agents/master/data/tsc-ka-data.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-tsc-data",
      "name": "Fetch TSC Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        208
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const sector = $('Course Input Form').first().json['Sector'];\nconst topic = $('Course Input Form').first().json['Course Topic'];\nconst level = $('Course Input Form').first().json['WSQ Level'];\nconst context = $('Course Input Form').first().json['Additional Context'] || '';\n\nconst tscData = $input.first().json;\nconst sectorTSCs = tscData.sectors[sector] || [];\nif (sectorTSCs.length === 0) {\n  return [{ json: { error: 'No TSC data found for sector: ' + sector } }];\n}\n\nconst keywords = topic.toLowerCase()\n  .split(/[\\\\s,;/&+]+/)\n  .filter(w => w.length > 2)\n  .filter(w => !['and', 'the', 'for', 'with', 'using', 'from', 'into'].includes(w));\n\nconst scored = sectorTSCs.map(tsc => {\n  const skillText = (tsc.skill + ' ' + (tsc.parent || '')).toLowerCase();\n  const kaText = [...(tsc.knowledge || []), ...(tsc.abilities || [])].join(' ').toLowerCase();\n  const skillMatches = keywords.filter(kw => skillText.includes(kw));\n  const kaMatches = keywords.filter(kw => kaText.includes(kw));\n  const score = skillMatches.length * 3 + kaMatches.length;\n  return { ...tsc, score, matchedKeywords: [...new Set([...skillMatches, ...kaMatches])] };\n}).filter(tsc => tsc.score > 0)\n  .sort((a, b) => b.score - a.score);\n\nconst topMatches = scored.slice(0, 8);\nconst results = topMatches.length > 0 ? topMatches : sectorTSCs.slice(0, 5);\nconst ccsResults = (tscData.ccs || []).slice(0, 3);\n\nreturn [{\n  json: {\n    sector, topic, level, context,\n    matched_tscs: results.map(tsc => ({\n      tsc_code: tsc.code, skill_name: tsc.skill, proficiency_level: tsc.level,\n      emerging_skill: tsc.emerging, matched_keywords: tsc.matchedKeywords || [],\n      knowledge_statements: tsc.knowledge || [], ability_statements: tsc.abilities || []\n    })),\n    matched_ccs: ccsResults.map(ccs => ({\n      ccs_code: ccs.code, skill_name: ccs.skill,\n      knowledge_statements: ccs.knowledge || [], ability_statements: ccs.abilities || []\n    })),\n    total_sector_tscs: sectorTSCs.length,\n    keyword_matches_found: topMatches.length\n  }\n}];"
      },
      "id": "filter-tscs",
      "name": "Filter Matching TSCs",
      "type": "n8n-nodes-base.code",
      "position": [
        352,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find the best-matching Technical Skills & Competencies (TSCs) for this course and generate aligned learning outcomes.\n\n**Sector:** {{ $json.sector }}\n**Course Topic:** {{ $json.topic }}\n**WSQ Level:** {{ $json.level }}\n**Additional Context:** {{ $json.context }}\n\n**Keyword matches found:** {{ $json.keyword_matches_found }} out of {{ $json.total_sector_tscs }} sector TSCs\n\n---\n\n**MATCHED TECHNICAL SKILLS & COMPETENCIES (TSCs):**\n{{ JSON.stringify($json.matched_tscs, null, 2) }}\n\n**MATCHED CRITICAL CORE SKILLS (CCS):**\n{{ JSON.stringify($json.matched_ccs, null, 2) }}\n\nReturn your analysis in the exact format specified in your instructions.",
        "options": {
          "systemMessage": "You are a competency mapping specialist for Singapore's Continuing Education and Training (CET) sector. You help training providers identify the right Technical Skills & Competencies (TSCs) from the SkillsFuture Skills Framework and generate aligned learning outcomes for WSQ course proposals.\n\nYou have been given real TSC data from the SSG Skills Framework, including actual Knowledge (K) and Ability (A) statements. Your job is to:\n1. Recommend the best-matching TSC(s) for the course topic\n2. Generate learning outcomes that map to the K&A statements\n3. Ensure all K&A statements for the selected TSC(s) are covered\n\nReturn your output in this exact Markdown structure:\n\n## Recommended TSCs\n\nFor each recommended TSC (pick 1-3 most relevant):\n- **TSC Code:** [code]\n- **Skill Name:** [name]\n- **Proficiency Level:** [level]\n- **Why this TSC:** One sentence explaining why this matches the course topic\n\n## Recommended Critical Core Skills\n\nPick 1-2 CCS that complement the technical skills:\n- **CCS Code:** [code]\n- **Skill Name:** [name]\n- **Why:** One sentence\n\n## Draft Learning Outcomes\n\nFor each recommended TSC, generate 1-2 learning outcomes that:\n- Start with a Bloom's taxonomy action verb appropriate to the WSQ level\n- Are measurable and assessable\n- Map to specific K&A statements from the TSC\n\nFormat each as:\n- **LO[n]:** [Learning outcome text]\n  - Maps to: [list of K and A statement codes, e.g., K1, K3, A2, A5]\n  - Bloom's level: [Remember/Understand/Apply/Analyse/Evaluate/Create]\n\n## K&A Coverage Check\n\nFor each selected TSC, list:\n- **[TSC Code]:** [total K statements] Knowledge + [total A statements] Ability = [total] statements\n  - Covered by LOs: [list which K&A codes are covered]\n  - Not yet covered: [list any gaps]\n\n## Suggested Topics\n\nFor each learning outcome, suggest 2-3 specific teaching topics (T1, T2, etc.) that would address the mapped K&A statements. Format as:\n- **T[n]:** [Topic title] -> covers [K/A codes]\n\nKeep recommendations grounded in the actual K&A statements provided. Do not invent TSC codes or K&A statements that are not in the data."
        }
      },
      "id": "competency-agent",
      "name": "Competency Mapping Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        624,
        208
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "html",
        "options": {
          "simplifiedAutoLink": true,
          "ghCodeBlocks": true,
          "tasklists": true,
          "tables": true
        }
      },
      "id": "md-to-html",
      "name": "Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        960,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<style>body{font-family:'Segoe UI',system-ui,-apple-system,sans-serif;max-width:820px;margin:0 auto;padding:20px;color:#1a1a1a;line-height:1.6}h1{color:#1a365d;border-bottom:3px solid #3182ce;padding-bottom:8px}h2{color:#2c5282;border-bottom:2px solid #bee3f8;padding-bottom:6px;margin-top:28px}h3{color:#2d3748;margin-top:20px}h4{color:#4a5568}ul,ol{padding-left:24px}li{margin:4px 0}strong{color:#2d3748}code{background:#edf2f7;padding:2px 6px;border-radius:4px;font-size:.9em}pre{background:#1a202c;color:#e2e8f0;padding:16px;border-radius:8px;overflow-x:auto}pre code{background:none;color:inherit;padding:0}table{width:100%;border-collapse:collapse;margin:16px 0;font-size:.9em}th{background:#2c5282;color:#fff;padding:10px 12px;text-align:left}td{padding:8px 12px;border-bottom:1px solid #e2e8f0}tr:nth-child(even) td{background:#f7fafc}hr{border:none;border-top:2px solid #e2e8f0;margin:24px 0}</style>\n{{ $json.html }}"
      },
      "id": "form-ending",
      "name": "Show Results",
      "type": "n8n-nodes-base.form",
      "position": [
        1168,
        208
      ],
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "id": "llm-competency",
      "name": "Claude (Competency)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        672,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## How It Works\n1. Trainer fills in sector + topic + WSQ level\n2. Workflow fetches real SSG TSC data (12,000+ competencies with K&A statements)\n3. Code node filters by sector and keyword-matches to the topic\n4. AI agent analyses the matched TSCs and generates recommendations\n5. Built-in Markdown node converts to styled HTML\n\nThis workflow grounds AI output in real framework data.",
        "height": 340,
        "width": 600,
        "color": 4
      },
      "id": "note-overview",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data Pipeline\nFetches TSC data from GitHub -> filters by sector -> keyword-matches to topic -> passes matched competencies to AI",
        "height": 312,
        "width": 512
      },
      "id": "note-pipeline",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI + Render\nAgent generates Markdown grounded in real K&A statements.\nBuilt-in Markdown node converts to HTML.\nForm Ending adds CSS and displays a polished report.",
        "height": 312,
        "width": 704,
        "color": 5
      },
      "id": "note-ai",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        48
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Course Input Form": {
      "main": [
        [
          {
            "node": "Fetch TSC Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TSC Data": {
      "main": [
        [
          {
            "node": "Filter Matching TSCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Matching TSCs": {
      "main": [
        [
          {
            "node": "Competency Mapping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competency Mapping Agent": {
      "main": [
        [
          {
            "node": "Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML": {
      "main": [
        [
          {
            "node": "Show Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude (Competency)": {
      "ai_languageModel": [
        [
          {
            "node": "Competency Mapping Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}